<div class="row text-center jscroll scroll-list">
  <% objects.each do |object| %>
    <div class="col">
      <%= link_to customer_path(object) do %>
        <%= attachment_image_tag object, :profile_image, size: '150x150', format: "jpeg",
            fallback: "no-image-man.jpg", style: 'object-fit: cover;', class: 'shadow rounded' %>
      <% end %>
      <p class="mb-0">
        <%= object.age %>歳 
        <% if object.address != "未設定" %>
          <%= object.address %>
        <% end %>
      </p>
      <p>
        <% if (Time.zone.now.prev_day(1)..Time.zone.now).cover?(object.created_at) %>
          <span class="new-tag">new</span>
        <% end %>
        <%= object.nickname %>
      </p>
    </div>
  <% end %>
</div>
