<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-4 text-center">
      <% if @customer.sex == 'man' %>
        <%= attachment_image_tag @customer, :profile_image, size: "300x300", format: "jpeg",
            fallback: "no-image-man.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
      <% else %>
        <%= attachment_image_tag @customer, :profile_image,size: "300x300", format: "jpeg",
            fallback: "no-image-woman.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
      <% end %>
      <% if current_customer != @customer %>
        <div class="col py-2">
          <p>最終ログイン<%= time_ago_in_words(@customer.current_sign_in_at) %>前</p>
          <div id="follow_form">
            <% if current_customer.following?(@customer) %>
              <%= render partial: "public/relationships/unfollow", locals: { customer: @customer } %>
            <% else %>
              <%= render partial: "public/relationships/follow", locals: { customer: @customer } %>
            <% end %>
          </div>
        </div>
        <div class="col">
          <%= link_to 'チャットする', chat_path(@customer), class: 'btn btn-outline-success btn-sm rounded-pill far fa-comments' %>
        </div>
      <% end %>
    </div>
    <div class="col-10 col-md-6 col-lg-4 mx-auto">
      <table class="table table-borderless">
        <thead>
          <th scope="col"><h4>基本情報</h4></th>
          <th></th>
        </thead>
        <tbody>
          <% if current_customer == @customer %>
          <tr>
            <th scope="row">名前</th>
            <td><%= @customer.name %></td>
          </tr>
          <% end %>
          <tr>
            <th scope="row">ニックネーム</th>
            <td><%= @customer.nickname %></td>
          </tr>
          <tr>
            <th scope="row">年齢</th>
            <td><%= @customer.age %>歳</td>
          </tr>
          <tr>
            <th scope="row">居住地</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th scope="row">趣味</th>
            <td>
              <% if @customer.hobby.blank? %>
                未設定
              <% else %>
                <%= @customer.hobby %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row">職業</th>
            <td>
              <% if @customer.jobs.blank? %>
                未設定
              <% else %>
                <%= @customer.jobs %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row">年収</th>
            <td><%= @customer.annual_income %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-10 col-md-6 col-lg-4 mx-auto">
      <table class="table table-borderless">
        <thead>
          <th scope="col"><h4>恋愛</h4></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">結婚歴</th>
            <td>
              <% if @customer.marriage_history.blank? %>
                未設定
              <% else %>
                <%= @customer.marriage_history %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row">子供の有無</th>
            <td><%= @customer.children %></td>
          </tr>
          <tr>
            <th scope="row">性格</th>
            <td><%= @customer.personality %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-11 col-lg-8 offset-md-1 offset-lg-4">
      <h4>ひとこと</h4>
      <p>
        <% if @customer.one_thing.blank? %>
          はじめまして！よろしくお願いします！
        <% else %>
          <%= @customer.one_thing %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12"><h3>作成したコミュニティ</h3></div>
      <% if @communities.blank? %>
        <div class="col-12"><p>まだコミュニティを作成していません</p></div>
      <% end %>
    <div class="d-flex flex-nowrap overflow-auto col-12 px-4">
      <% @communities.each do |community| %>
        <div class="col-6 col-md-4 col-lg-3 m-3 p-0 card border border-dark rounded">
          <%= attachment_image_tag(community, :community_image, size: "150x150",
              fallback: "no-image.png", style: 'object-fit: cover;', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to community.name, community_path(community) %>
            </h5>
            <p class="card-text text-nowrap text-truncate"><%= community.introduction %></p>
            <p><%= community.owner_nickname %></p>
            <p class="text-center mb-0">
              <%= link_to "参加する", community_path(community), class: 'btn btn-primary btn-sm rounded-pill' %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col mt-4 text-center">
      <% if current_customer == @customer %>
        <%= link_to '編集する', edit_customer_path, class: 'btn btn-secondary rounded-pill' %>
      <% end %>
    </div>
  </div>
</div>
