<div class="row mt-5">
  <% @followeds.each do |followed| %>
    <div class="col-6 col-md-3 col-lg-2 text-center mb-4">
      <%= link_to customer_path(followed) do %>
        <%= attachment_image_tag followed, :profile_image, size: '150x150', format: "jpeg",
            fallback: "no-image-man.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
      <% end %>
      <p class="mb-0">
        <%= followed.age %>歳 
        <% if followed.address != "秘密" %>
          <%= followed.address %>
        <% end %>
      </p>
      <p><%= followed.nickname %></p>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <%= paginate @followeds %>
  </div>
</div>