<div class="container">
  <div class="row pt-5">
    <div class="col-12 pb-5">
      <%= link_to 'お気に入り', followed_path, class: 'btn btn-primary btn-sm rounded-pill' %>
      <%= link_to 'お気に入りしてくれた人', follower_path, class: 'btn btn-primary btn-sm rounded-pill' %>
      <%= link_to 'マッチング済', matchers_path, class: 'btn btn-primary btn-sm rounded-pill' %>
    </div>
    <% if @matchers.blank? %>
      <div class="col text-center">
        <h6 class="d-md-none">
          マッチングしたユーザーはいません。<br>
          積極的にお気に入りしてみよう！
        </h6>
        <h3 class="d-none d-md-block">
          マッチングしたユーザーはいません。<br>
          積極的にお気に入りしてみよう！
        </h3>
      </div>
    <% end %>
    <% @matchers.each do |matcher| %>
      <div class="col-6 col-md-3 col-lg-2 text-center mb-4">
        <%= link_to customer_path(matcher) do %>
          <%= attachment_image_tag matcher, :profile_image, size: '150x150', format: "jpeg",
              fallback: "no-image-man.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
        <% end %>
        <p class="mb-0">
          <%= matcher.age %>歳 
          <% if matcher.address != "秘密" %>
            <%= matcher.address %>
          <% end %>
        </p>
        <p>
          <% if (Time.zone.now.prev_day(3)..Time.zone.now).cover?(matcher.created_at) %>
            <span class="new-tag">new</span>
          <% end %>
          <%= matcher.nickname %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <%= paginate @matchers %>
    </div>
  </div>
</div>