<div class="container">
  <div class="row py-5">
    <div class="col-4 col-md-6 text-center">
      <%= image_tag 'top-image05.jpg', class: 'shadow rounded' %>
    </div>
    <div class="col-8 col-md-6 text-left pt-3">
      <h2 class="d-md-none text-white">あなたと</h2>
      <h2 class="d-md-none text-white">国を守ります。</h2>
      <h1 class="d-none d-md-block d-lg-none ml-5">あなたと</h1>
      <h1 class="d-none d-md-block d-lg-none ml-5">国を守ります。</h1>
      <h5 class="d-none d-md-block d-lg-none ml-5">自衛官 × マッチングアプリ</h5>
      <h1 class="d-none d-lg-block display-4 ml-5">あなたと</h1>
      <h1 class="d-none d-lg-block display-4 ml-5">国を守ります。</h1>
      <h3 class="d-none d-lg-block ml-5">自衛官 × マッチングアプリ</h3>
      <%= link_to '今すぐはじめる', new_customer_registration_path, onfocus: "this.blur();",
          class: 'btn btn-lg btn-gradient shadow text-white my-3 ml-md-5 rounded-pill' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h3>Favory ファボリー とは</h3>
    </div>
    <div class="col-12 py-3 text-center">
      <h5>
        Favorite（お気に入り）とMilitry（ミリタリー）<br>
        を組み合わせた言葉です。<br>
        Favoryを使えば、全国各地の素敵な現役自衛官と<br>
        出会うことができます。
      </h5>
    </div>
  </div>
</div>
<div class="slide">
  <div><%= image_tag 'top-image01.jpg' %></div>
  <div><%= image_tag 'top-image03.jpg' %></div>
  <div><%= image_tag 'top-image04.jpg' %></div>
  <div><%= image_tag 'top-image05.jpg' %></div>
  <div><%= image_tag 'top-image08.jpg' %></div>
  <div><%= image_tag 'top-image09.jpg' %></div>
  <div><%= image_tag 'top-image10.jpg' %></div>
  <div><%= image_tag 'top-image11.jpg' %></div>
</div>
<div class="container py-5">
  <div class="row text-center">
    <div class="col-12 py-3">
      <h2>使い方は簡単3STEP</h2>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="py-4">STEP①</h3>
      <div class="card">
        <%= image_tag 'signup-image.png', style: 'width: 100%;' %>
        <div class="card-body">
          <h5 class="card-title">新規登録</h5>
          <p class="card-text">必要な事項を入力してアカウント作成</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="py-4">STEP②</h3>
      <div class="card">
        <%= image_tag 'favorite-image.png', style: 'width: 100%;' %>
        <div class="card-body">
          <h5 class="card-title">お気に入り</h5>
          <p class="card-text">気になる人をタップ</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <h3 class="py-4">STEP③</h3>
      <div class="card">
        <%= image_tag 'chatting-image.png', style: 'width: 100%;' %>
        <div class="card-body">
          <h5 class="card-title">チャットでやりとり</h5>
          <p class="card-text">簡単な自己紹介からはじめてみましょう！</p>
        </div>
      </div>
    </div>
  </div>
</div>