<% provide(:title, "女性会員一覧（管理者）") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'admin/shared/sidebar' %>
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="col-12 my-3"><h3>女性会員一覧</h3></div>
      <button class="btn btn-outline-info rounded-pill mb-3" type="button" data-toggle="collapse" data-target="#collapseSearch"
              aria-expanded="false" aria-controls="collapseSearch" onfocus="this.blur();">
        <i class="bi bi-search"></i> 絞り込み
      </button>
      <% @url_type = women_admin_customers_path %>
      <%= render partial: 'search', locals: { q: @q, url_type: @url_type } %>
      <table class="table table-hover rounded shadow-sm">
        <thead>
          <tr>
            <th scope="col">会員ID</th>
            <th scope="col">名前</th>
            <th scope="col">年齢</th>
            <th scope="col">居住地</th>
            <th scope="col">自衛官承認</th>
            <th scope="col">会員ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <th scope="row" class="align-middle"><%= customer.id %></th>
              <td class="align-middle">
                <%= link_to admin_customer_path(customer) do %>
                  <%= attachment_image_tag customer, :profile_image, size: '50x50', format: "jpeg",
                      fallback: "no-image-woman.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
                  <p><%= customer.name %></p>
                <% end %>
              </td>
              <td class="align-middle"><%= customer.age %> 歳</td>
              <td class="align-middle"><%= customer.address %></td>
              <td class="align-middle">
                <% if customer.army_flag? %>
                  <span class="text-success">承認</span>
                <% else %>
                  <span class="text-muted">非承認</span>
                <% end %>
              </td>
              <td class="align-middle">
                <% if customer.is_valid? %>
                  <span class="text-success">有効</span>
                <% else %>
                  <span class="text-muted">無効</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col d-flex justify-content-center">
      <%= paginate @customers %>
    </div>
  </div>
</div>
