<div class="container">
  <div class="row py-5">
    <div class="col-11 col-md-8 mx-auto border rounded">
      <div class="d-flex justify-content-between align-items-center border-bottom py-2">
        <div class="col">
          <%= link_to customer_path(@customer) do %>
            <i class="bi bi-chevron-left fa-lg text-secondary"></i>
          <% end %>
        </div>
        <div class="col text-center">
          <%= @customer.nickname %>
        </div>
        <div class="col text-right">
          <%= link_to customer_path(@customer) do %>
            <% if @customer.sex == 'man' %>
              <%= attachment_image_tag @customer, :profile_image, size: "35x35", format: "jpeg",
                  fallback: "no-image-man.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
            <% else %>
              <%= attachment_image_tag @customer, :profile_image,size: "35x35", format: "jpeg",
                  fallback: "no-image-woman.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <ul id="scroll-inner" class="chat-area p-0 bg-light">
        <% @chats.each do |chat| %>
          <% if chat.customer == current_customer %>
            <li class="my-3 pr-2 text-right">
              <small class="text-muted"><%= chat.created_at.strftime("%-H:%M") %></small>
              <div class="chat-current-customer d-inline-block shadow p-2 text-light text-left"><%= safe_join(chat.message.split("\n"), tag(:br)) %></div>
            </li>
          <% else %>
            <li class="my-3 pl-2">
              <div class="mb-1">
                <%= link_to customer_path(chat.customer) do %>
                  <% if chat.customer.sex == 'man' %>
                    <%= attachment_image_tag chat.customer, :profile_image, size: "35x35", format: "jpeg",
                        fallback: "no-image-man.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
                  <% else %>
                    <%= attachment_image_tag chat.customer, :profile_image,size: "35x35", format: "jpeg",
                        fallback: "no-image-woman.jpg", style: 'object-fit: cover;', class: 'rounded-circle' %>
                  <% end %>
                <% end %>
              </div>
              <div class="chat-opponent-customer d-inline-block shadow p-2 bg-white"><%= chat.message %></div>
              <small class="text-muted"><%= chat.created_at.strftime("%-H:%M") %></small>
            </li>
          <% end%>
        <% end %>
      </ul>
      <div class="border-top py-3">
        <%= form_with model: @chat, class: 'd-flex' do |f| %>
          <%= f.hidden_field :room_id %>
          <div class="col-6 ml-auto mb-0 form-group">
            <%= f.text_area :message, rows: 1, class: "chat-textarea form-control rounded-pill shadow-sm bg-white" %>
          </div>
          <div class="col-auto text-right">
            <%= button_tag type: 'submit', class: "btn btn-outline-info shadow-sm rounded-circle" do %>
              <i class="far fa-paper-plane"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>