<%= form_with model: community_post do |f| %>
  <div class="modal-body">
    <%= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.hidden_field :community_id, value: community.id %>
    <div class="col form-group">
      <div class="js-message-errors"></div>
      <%= f.label :content, "内容" %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    <%= f.submit "投稿", class: 'btn btn-primary' %>
  </div>
<% end %>