<% community_posts.each do |community_post| %>
  <div class="col-12 col-md-11 col-lg-9 mx-auto p-2 border d-flex shadow-sm rounded mb-2">
    <div class="col-3 col-sm-2 col-lg-1">
      <%= link_to customer_path(community_post.customer) do %>
        <% if community_post.customer.sex == 'man' %>
          <%= attachment_image_tag community_post.customer, :profile_image, size: "50x50", format: "jpeg",
              fallback: "no-image-man.jpg", style: 'object-fit: cover;', class: 'rounded shadow-sm' %>
        <% else %>
          <%= attachment_image_tag community_post.customer, :profile_image, size: "50x50", format: "jpeg",
              fallback: "no-image-woman.jpg", style: 'object-fit: cover;', class: 'rounded-circle shadow-sm' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-9 col-sm-10 col-lg-11">
      <p>
        <%= community_post.customer.nickname %>
        <%= community_post.created_at.strftime('%-m月%-d日') %>
        <% if community_post.customer == current_customer %>
          <%= link_to ' ', community_post_path(community_post), remote: true, method: :delete, class: 'bi bi-trash text-muted' %>
        <% end %>
      </p>
      <p><%= safe_join(community_post.content.split("\n"), tag(:br)) %></p>
      <div class="text-right">
        <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(community_post.created_at) %>前
      </div>
    </div>
  </div>
<% end %>
