<% provide(:title, "コミュニティ一覧") %>
<div class="container">
  <div class="row py-5">
    <div class="col-12 text-center">
      <div class="js-flash_messages"></div>
      <h1 class="d-inline-block border-bottom">Community</h1>
      <p>コミュニティを通じて、共通の趣味や話題から気になる相手を探してみましょう！<br>自分でオリジナルのコミュニティを作成することもできます。</p>
      <!-- Button trigger modal -->
      <button type="button" onclick="clickRemoveAlert()" class="btn btn-outline-info shadow-sm rounded-pill" data-toggle="modal" data-target="#ModalCenter" onfocus="this.blur();">
        <i class="bi bi-pencil-square mr-1"></i>新しくコミュニティを作る
      </button>
    </div>
    <!-- Modal中身 -->
    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalCenterTitle">新規作成</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%= render partial: 'community_form', locals: { community: @community } %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= search_form_for @q, url: communities_path do |f| %>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-auto p-0 mr-2">
        <%= f.search_field :name_cont, placeholder: "\uf002 キーワードを入力", class: 'font-awesome fa form-control form-control-sm rounded-pill shadow-sm' %>
      </div>
      <div class="col-auto p-0">
        <%= f.submit " 検 索 ", class: 'btn btn-sm btn-outline-info rounded-pill shadow-sm' %>
      </div>
    </div>
  <% end %>
  <div class="d-flex overflow-auto pt-3">
    <%= link_to communities_path do %>
      <h1 class="btn btn-outline-info btn-sm mr-2 rounded">All</h1>
    <% end %>
    <% @tag_list.each do |tag| %>
      <%= link_to communities_path(tag_name: tag.name) do %>
        <h1 class="btn btn-outline-info btn-sm mr-2 rounded" style="white-space: nowrap;"><%= tag %></h1>
      <% end %>
    <% end %>
  </div>
  <% if @communities.count == 0 %>
    <div class="col-12 text-center my-5">
      指定されたコミュニティはありません<br>
      または<br>
      現在申請中のコミュニティです
    </div>
  <% end %>
  <div class="wrap">
    <ul class="masonry js-masonry p-0">
      <% @communities.each do |community| %>
        <li class="item js-item text-center border shadow-sm rounded my-2 mx-1">
          <%= link_to community_path(community) do %>
            <%= attachment_image_tag(community, :community_image, fallback: "people.svg", class: 'p-2') %>
          <div class="col text-dark">
            <small><%= safe_join(community.name.split("\n"), tag(:br)) %></small>
          </div>
          <div class="col text-right text-muted">
            <i class="bi bi-chat-left mr-1"></i><%= community.community_posts.size %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>