<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>コミュニティ</h2>
    </div>
    <div class="col-12">
      <%= link_to '新しくコミュニティを作る', new_community_path, class: 'btn btn-success btn-sm rounded-pill' %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="d-flex flex-wrap col-md-12 px-4">
      <% @communities.each do |community| %>
      <div class="col-3 my-3">
        <div class="card border border-dark rounded">
          <%= attachment_image_tag(community, :community_image, size: "150x150",
              fallback: "no-image.png", style: 'object-fit: cover;', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to community.name, community_path(community) %>
            </h5>
            <p class="card-text text-nowrap text-truncate"><%= community.introduction %></p>
            <p><%= community.owner_nickname %></p>
              <%= link_to "参加する", community_path(community), class: 'btn btn-primary btn-sm rounded-pill' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>