<% provide(:title, "コミュニティ一覧") %>
<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <h1 class="border-bottom">COMMUNITY</h1>
      <p>コミュニティを通じて、共通の趣味や話題から気になる相手を探してみましょう！<br>自分でオリジナルのコミュニティを作成することもできます。</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-info shadow rounded-pill" data-toggle="modal" data-target="#ModalCenter" onfocus="this.blur();">
        <i class="bi bi-pencil-square mr-1"></i>新しくコミュニティを作る
      </button>
      <!-- Modal中身 -->
      <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalCenterTitle">新規作成</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_with model: @community, local: true do |f| %>
              <div class="js-message-errors"></div>
              <div class="modal-body">
                <div class="col form-group">
                  <%= f.label :community_image, "コミュニティ画像" %>
                  <%= f.attachment_field :community_image, class: "form-control-file" %>
                </div>
                <div class="col form-group">
                  <%= f.label :name, "コミュニティ名" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="col form-group">
                  <%= f.label :introduction, "コミュニティの概要" %>
                  <%= f.text_area :introduction, class: "form-control" %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "作成", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="wrap">
      <ul class="masonry js-masonry p-0">
        <% @communities.each do |community| %>
          <li class="item js-item text-center border shadow-sm rounded my-2">
            <%= link_to community_path(community) do %>
              <%= attachment_image_tag(community, :community_image, fallback: "people.svg", class: 'p-2') %>
            <div class="col text-dark">
              <%= community.name %>
            </div>
            <div class="col text-right text-muted">
              <i class="bi bi-chat-left mr-1"></i><%= community.community_posts.size %>
            </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>