<div class="container">
  <div class="row py-5">
    <div class="col-12 col-md-6">
      <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'community-image01.jpg', style: 'max-width: 100%; height: auto;', class: 'd-block w-100 img-fluid rounded' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'community-image02.jpg', style: 'max-width: 100%; height: auto;', class: 'd-block w-100 img-fluid rounded' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'community-image03.jpg', style: 'max-width: 100%; height: auto;', class: 'd-block w-100 img-fluid rounded' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'community-image04.jpg', style: 'max-width: 100%; height: auto;', class: 'd-block w-100 img-fluid rounded' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h1 class="border-bottom">COMMUNITY</h1>
      <p>コミュニティを通じて、共通の趣味や話題から気になる相手を探してみましょう！<br>自分でオリジナルのコミュニティを作成することもできます。</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-info btn-lg rounded-pill" data-toggle="modal" data-target="#ModalCenter" onfocus="this.blur();">
        <i class="bi bi-pencil-square"> 新しくコミュニティを作る</i>
      </button>
      <!-- Modal中身 -->
      <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalCenterTitle">新規作成</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_with model: @community, local: true do |f| %>
              <div class="js-message-errors"></div>
              <div class="modal-body">
                <div class="col form-group">
                  <%= f.label :community_image, "コミュニティ画像" %>
                  <%= f.attachment_field :community_image, class: "form-control-file" %>
                </div>
                <div class="col form-group">
                  <%= f.label :name, "コミュニティ名" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="col form-group">
                  <%= f.label :introduction, "コミュニティの概要" %>
                  <%= f.text_area :introduction, class: "form-control" %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "作成", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="d-flex flex-wrap col-md-12 px-4">
      <% @communities.each do |community| %>
      <div class="col-10 col-md-4 col-lg-3 my-3">
        <div class="card border shadow rounded">
          <%= attachment_image_tag(community, :community_image, size: "150x150",
              fallback: "no-image.png", style: 'object-fit: cover;', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to community.name, community_path(community) %>
            </h5>
            <p class="card-text text-nowrap text-truncate"><%= community.introduction %></p>
            <p><%= community.owner_nickname %></p>
            <p class="text-center mb-0">
              <%= link_to "参加する", community_path(community), class: 'btn btn-primary btn-sm rounded-pill' %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>