<div class="container">
  <div class="row">
    <div class="col">
      <%= form_with model: @community, local: true do |f| %>
        <%= f.label :community_image, "コミュニティ画像" %>
        <%= f.attachment_field :community_image, class: "form-control-file" %>
        <%= f.label :name, "コミュニティ名" %>
        <%= f.text_field :name %>
        <%= f.label :introduction, "コミュニティの概要" %>
        <%= f.text_field :introduction %>
        <%= f.submit "作成する", class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  </div>
</div>