<div class="container">
  <div class="row">
    <div class="col-10 mx-auto d-flex">
      <div class="col-6 text-center">
        <%= attachment_image_tag(@community, :community_image,
            fallback: "no-image.png", style: 'width: 300px; object-fit: cover;', class: 'img-fluid') %>
      </div>
      <div class="col-6">
        <h4 class="border-bottom d-inline-block">コミュニティ名</h4>
        <p><%= @community.name %></p>
        <h4 class="border-bottom d-inline-block">概要</h4>
        <p><%= @community.introduction %></p>
      </div>
    </div>
    <div class="col-12 py-5">
      <div class="col-9 mx-auto py-2 text-right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-info btn-lg rounded-circle" data-toggle="modal" data-target="#ModalCenter" onfocus="this.blur();">
          <i class="far fa-paper-plane"></i>
        </button>
      </div>
      <!-- Modal中身 -->
      <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalCenterTitle">新規投稿</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= form_with model: @community_post, local: true do |f| %>
              <div class="modal-body">
                <%= f.hidden_field :customer_id, value: current_customer.id %>
                <%= f.hidden_field :community_id, value: @community.id %>
                <div class="col form-group">
                  <%= f.label :content, "内容" %>
                  <%= f.text_area :content, class: 'form-control' %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "投稿", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% @community_posts.each do |community_post| %>
        <div class="col-9 mx-auto p-2 border d-flex">
          <div class="col-1">
            <%= link_to customer_path(community_post.customer) do %>
              <%= attachment_image_tag(community_post.customer, :profile_image, size: "50x50",
                  fallback: "no-image.jpg", style: 'object-fit: cover;', class: 'rounded-circle') %>
            <% end %>
          </div>
          <div class="col-11">
            <p>
              <%= community_post.customer.nickname %>
              <%= community_post.created_at.strftime('%-m月%-d日') %>
            </p>
            <p><%= community_post.content %></p>
            <div class="text-right">
              <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(community_post.created_at) %>前
            </div>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-center py-3">
        <%= paginate @community_posts %>
      </div>
    </div>
  </div>
</div>