<% provide(:title, "コミュニティ詳細") %>
<div class="container">
  <div class="row py-5">
    <div class="col-10 mx-auto d-md-flex">
      <div class="col-12 col-md-6 text-center">
        <%= attachment_image_tag(@community, :community_image,
            fallback: "people.svg", style: 'width: 200px; object-fit: cover;', class: 'img-fluid rounded shadow') %>
      </div>
      <div class="col-12 col-md-6 pt-3">
        <h4 class="border-bottom d-inline-block">コミュニティ名</h4>
        <% if @community.owner_id == current_customer.id %>
          <%= link_to ' ', edit_community_path(@community), class: 'ml-1 bi bi-gear fa-lg text-dark' %>
        <% end %>
        <p><%= safe_join(@community.name.split("\n"), tag(:br)) %></p>
        <h4 class="border-bottom d-inline-block">概要</h4>
        <p><%= @community.introduction %></p>
      </div>
    </div>
    <div class="col-12 py-5">
      <div class="col-12 col-md-11 col-lg-9 mx-auto py-2 text-right">
        <!-- Button trigger modal -->
        <button id="community_post_btn" onclick="clickRemoveAlert()" type="button" class="btn btn-outline-info btn-lg rounded-circle" data-toggle="modal" data-target="#ModalCenter" onfocus="this.blur();">
          <i class="far fa-paper-plane"></i>
        </button>
      </div>
      <!-- Modal中身 -->
      <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalCenterTitle">新規投稿</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= render partial: 'community_post_form', locals: { community_post: @community_post, community: @community } %>
          </div>
        </div>
      </div>
      <div id="community_post" class="jscroll scroll-list">
        <% if @community_posts.blank? %>
          <p class="text-center">まだ投稿がありません</p>
        <% end %>
        <%= render 'list', community_posts: @community_posts %>
        <div class="jscroll-pagination">
          <%= paginate @community_posts %>
        </div>
      </div>
    </div>
  </div>
</div>