<% provide(:title, "自衛官申請一覧") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'admin/shared/sidebar' %>
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="col-12 my-3"><h3>自衛官申請一覧</h3></div>
      <button class="btn btn-outline-info rounded-pill mb-3" type="button" data-toggle="collapse" data-target="#collapseSearch"
              aria-expanded="false" aria-controls="collapseSearch" onfocus="this.blur();">
        <i class="bi bi-search"></i> 絞り込み
      </button>
      <%= render 'search', q: @q %>
      <table class="table table-hover rounded shadow-sm">
        <thead>
          <tr>
            <th scope="col">申請ID</th>
            <th scope="col">会員ID</th>
            <th scope="col">申請者名</th>
            <th scope="col">申請日</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @army_requests.each do |army_request| %>
            <tr>
              <th scope="row"><%= army_request.id %></th>
              <td><%= army_request.customer_id %></td>
              <td>
                <%= link_to army_request.customer.name, admin_army_request_path(army_request) %>
              </td>
              <td><%= army_request.created_at.strftime("%Y年%-m月%-d日 %H:%M") %></td>
              <td>
                <% if army_request.customer.army_flag? %>
                  <span class="text-success">承認</span>
                <% else %>
                  <span class="text-muted">未承認</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-12 d-flex justify-content-center pb-5">
        <%= paginate @army_requests %>
      </div>
    </div>
  </div>
</div>