<div class="container">
  <div class="row">
    <div class="col-12"><h3>自衛官申請詳細</h3></div>
    <div class="col-10 mx-auto">
      <%= @army_request.customer.name %>
      <%= @army_request.type %>
      <%= @army_request.base %>
      <%= @army_request.identification_number %>
      <%= attachment_image_tag @army_request, :identification_image, size: "300x300", format: "jpeg",
            fallback: "no-image.png", style: 'object-fit: cover;', class: 'rounded' %>
    </div>
    <%= form_with model: @customer, url: admin_army_request_path(@customer), local: true do |f| %>
      <div class="col">自衛官認証</div>
      <div class="form-group">
        <%= f.radio_button :army_flag, :false %>
        <%= f.label :army_flag, '未承認', value: false %>
        <%= f.radio_button :army_flag, :true %>
        <%= f.label :army_flag, '承認', value: true %>
      </div>
      <%= f.submit '変更', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
