<% provide(:title, "コミュニティ編集（管理者）") %>
<div class="container">
  <%= form_with model: @community, url: admin_community_path(@community), local: true do |f| %>
    <div class="row py-5">
      <div class="col-10 mx-auto d-md-flex">
        <div class="col-12 col-md-6 text-center">
          <%= attachment_image_tag(@community, :community_image,
              fallback: "people.svg", style: 'width: 200px; object-fit: cover;', onclick: "$('.image-field').click()", class: 'img-fluid cursor-hover rounded shadow') %>
          <div class="col py-2">
            <i class="bi bi-camera fa-lg cursor-hover" onclick="$('.image-field').click()"></i>
            <i class="bi bi-arrow-repeat fa-lg cursor-hover" onclick="$('.image-field').click()"></i>
            <%= f.attachment_field :community_image,  class: "image-field d-none form-control-file-sm py-2" %>
          </div>
          <div class="col">
            <%= f.label :tag_list, "タグ付け（最大３つまで）" %>
            <%= f.text_field :tag_list, value: @community.tag_list.join(','), data: {role: "tagsinput"}, class: "form-control" %>
          </div>
        </div>
        <div class="col-12 col-md-6 pt-3">
          <%= render 'layouts/validation_errors', instance: @community %>
          <h4 class="border-bottom d-inline-block">コミュニティ名</h4>
          <p><%= f.text_field :name, class: 'form-control' %></p>
          <h4 class="border-bottom d-inline-block">概要</h4>
          <p><%= f.text_area :introduction, class: 'form-control' %></p>
          <h4 class="border-bottom d-inline-block">コミュニティステータス</h4>
          <p>
            <%= f.radio_button :valid_status, '申請待ち' %>
            <%= f.label :valid_status, '申請待ち', value: '申請待ち' %>
            <%= f.radio_button :valid_status, '許可' %>
            <%= f.label :valid_status, '許可', value: '許可' %>
            <%= f.radio_button :valid_status, '却下' %>
            <%= f.label :valid_status, '却下', value: '却下' %>
          </p>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <%= f.submit '変更する', class: 'btn btn-outline-success rounded-pill shadow mr-2' %>
      <%= link_to '削除する', admin_community_path(@community), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-outline-danger shadow rounded-pill' %>
    </div>
  <% end %>
</div>
