<% provide(:title, "コミュニティ詳細（管理者）") %>
<div class="container">
  <div class="row p-5">
    <div class="col-12 text-center mb-3">
      <h3>コミュニティ詳細</h3>
    </div>
    <div class="col-10 col-md-4 mx-auto mx-md-0">
      <%= attachment_image_tag(@community, :community_image, size: "260x260", fallback: "people.svg", style: 'object-fit: cover;', class: 'shadow rounded') %>
    </div>
    <div class="col-12 col-md-8">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">コミュニティ名</th>
            <td><%= @community.name %></td>
          </tr>
          <tr>
            <th scope="row">コミュニティ概要</th>
            <td><%= @community.introduction %></td>
          </tr>
          <tr>
            <th scope="row">作成者</th>
            <td><%= @customer.nickname %></td>
          </tr>
          <tr>
            <th scope="row">ステータス</th>
            <td><%= @community.valid_status %></td>
          </tr>
          <tr>
            <th scope="row">タグ</th>
            <td><%= render 'public/communities/tag_list', tag_list: @community.tag_list %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3 mx-auto">
      <%= link_to '編集する', edit_admin_community_path(@community), class: 'btn btn-outline-info rounded-pill' %>
    </div>
  </div>
</div>