<% provide(:title, "パスワード再設定") %>
<div class="container">
  <div class="row py-5 d-flex flex-column">
    <div class="col-11 col-md-8 col-lg-6 mx-auto mb-3 p-3 p-md-5  text-center border border rounded-lg shadow bg-white">
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="col my-3"><h5>パスワード再設定</h5></div>
      <div class="form-group pt-3">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <%= f.password_field :password, autofocus: true, placeholder: '新しいパスワード(６文字以上)', class: 'col-10 col-sm-7 mx-auto mt-2 form-control shadow-sm bg-white rounded-pill', required: :required %>
          <%= f.password_field :password_confirmation, placeholder: '確認用パスワード', class: 'col-10 col-sm-7 mx-auto mt-3 form-control shadow-sm bg-white rounded-pill', required: :required %>
          <div class="col">
            <%= f.submit "パスワードを変更する", class: 'btn btn-outline-info rounded-pill shadow-sm mt-3' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>