<div class="row my-5 d-flex flex-column">
  <div class="col-10 col-md-8 col-lg-5 mx-auto mb-3 p-3 p-md-5 border border-dark rounded-lg shadow">
    <div class="col text-center"><h3>新規登録</h3></div>
    <div class="col form-group">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.label :name, class: 'col col-md-4 offset-md-1' %>
        <%= f.text_field :name, class: 'col-10 col-md-7 mx-auto mb-3 form-control' %>
        <%= f.label :nickname, class: 'col col-md-5 offset-md-1' %>
        <%= f.text_field :nickname, class: 'col-10 col-md-7 mx-auto mb-3 form-control' %>
        <%= f.label :email, class: 'col col-md-5 offset-md-1' %>
        <%= f.email_field :email, class: 'col-10 col-md-7 mx-auto mb-3 form-control' %>
        <%= f.label :birthday, class: 'col col-md-4 offset-md-1' %>
        <div class="col text-center mb-3">
          <%= f.date_select :birthday, use_month_numbers: true,start_year: 1971,
              end_year: (Time.now.year - 10), default: Date.new(1996, 1, 1), class: 'form-control' %>
        </div>
        <%= f.label :sex, class: 'col col-md-3 offset-md-1' %>
        <div class="col text-center mb-3">
          <%= f.radio_button :sex, :man %>
          <%= f.label :sex, "男性", value: :man %>
          <%= f.radio_button :sex, :woman %>
          <%= f.label :sex, "女性", value: :woman %>
        </div>
        <%= f.label :password, class: 'col col-md-4 offset-md-1' %>
        <%= f.password_field :password, class: 'col-10 col-md-7 mx-auto mb-3 form-control' %>
        <div class="col text-center">
          <%= f.submit '新規登録', class: 'btn btn-primary rounded-pill' %>
        </div>
        <div class="col text-center">
          <%= link_to 'アカウントをお持ちの方はこちらから', new_customer_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
