<% provide(:title, "新規登録") %>
<div class="container">
  <div class="row py-5 d-flex flex-column">
    <div class="col-11 col-md-8 col-lg-6 mx-auto mb-3 p-3 p-md-5 border border rounded-lg shadow bg-white">
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="col text-center text-info"><h3>新規登録</h3></div>
      <div class="col form-group pt-3">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
            html: { class: "needs-validation", novalidate: :novalidate }) do |f| %>
          <%= f.text_field :name, placeholder: 'お名前', class: 'col-10 col-md-7 mt-4 mx-auto form-control shadow rounded-pill bg-white', required: :required %>
          <div class="invalid-feedback col-11 col-md-8 mx-auto">お名前を入力して下さい</div>
          <%= f.text_field :nickname, placeholder: 'ニックネーム', class: 'col-10 col-md-7 mt-4 mx-auto form-control shadow rounded-pill bg-white', required: :required %>
          <div class="invalid-feedback col-11 col-md-8 mx-auto">ニックネームを入力して下さい</div>
          <%= f.email_field :email, placeholder: 'メールアドレス', class: 'col-10 col-md-7 mt-4 mx-auto form-control shadow rounded-pill bg-white', required: :required %>
          <div class="invalid-feedback col-11 col-md-8 mx-auto">メールアドレスを入力して下さい</div>
          <div class="form-group text-center pt-4">
            <%= f.date_select :birthday, { use_month_numbers: true,start_year: 1971,
                end_year: (Time.now.year - 10), default: Date.new(1996, 1, 1)},
                { class: 'select-form form-control d-inline-block w-auto shadow rounded-pill bg-white' } %>
          </div>
          <div class="form-group col-11 col-md-8 mx-auto pt-2 text-center">
            <div class="btn-group btn-group-toggle " data-toggle="buttons">
              <label class="btn btn-outline-info active rounded-pill shadow mr-3">
                <%= f.radio_button :sex, 0, {checked: true} %> 男　性
              </label>
              <label class="btn btn-outline-danger rounded-pill shadow">
                <%= f.radio_button :sex, 1, {} %> 女　性
              </label>
            </div>
          </div>
          <%= f.password_field :password, placeholder: 'パスワード', class: 'col-10 col-md-7 mt-4 mx-auto form-control shadow rounded-pill bg-white', required: :required %>
          <div class="invalid-feedback col-11 col-md-8 mx-auto">パスワードを入力して下さい</div>
          <div class="col text-center">
            <%= f.submit '新規登録', class: 'btn btn-outline-info shadow rounded-pill mt-3' %>
          </div>
        <% end %>
        <div class="col text-center text-muted pt-3">
          <small>アカウントをお持ちの方は<%= link_to 'こちら', new_customer_session_path, class: 'text-info' %></small>
        </div>
      </div>
    </div>
  </div>
</div>
