<div class="container">
  <div class="row py-5">
    <div class="col-12 text-center">
      <h3>自衛官認証申請フォーム</h3>
    </div>
    <div class="col-10 col-md-6 col-lg-5 mx-auto">
      <%= form_with model: @army_request, local: true do |f| %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <div class="form-group">
          <%= f.label :army_type, '陸自・海自・空自' %>
          <%= f.select :army_type, ArmyRequest.army_types.keys, { include_blank: '選択してください'}, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.label :base, '駐屯地・基地名' %>
          <%= f.text_field :base, placeholder: '例）〇〇駐屯地・〇〇基地', class: "form-control", required: :required %>
        </div>
        <div class="form-group">
          <%= f.label :army_class, '階級' %>
          <%= f.select :army_class, ArmyRequest.army_classes.keys, { include_blank: '選択してください'}, { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.label :occupation, '職種' %>
          <%= f.text_field :occupation, placeholder: '例）航空科', class: "form-control", required: :required %>
        </div>
        <div class="form-group">
          <%= f.label :identification_number, '認識番号' %>
          <%= f.text_field :identification_number, placeholder: '例）G1234567', class: "form-control", required: :required %>
        </div>
        <div class="form-group">
          <%= f.label :identification_image, '自衛官認証写真' %>
          <%= f.attachment_field :identification_image, class: "form-control-file" %>
          <div class="identification-image">
            <%= attachment_image_tag @army_request, :identification_image, fallback: "no-image01.jpg", style: 'width: 200px; object-fit: cover;', class: "my-3 border rounded shadow-sm" %>
          </div>
          <p>
            ※自衛官身分証（オモテ面）の写真を添付してください。<br>
            写真がボケていたり、身分証の文字が判別しづらい写真では承認致しかねますので、<br>
            あらかじめご了承ください。
          </p>
        </div>
        <div class="col text-center">
          <%= f.submit '申請する', class: 'btn btn-outline-info shadow rounded-pill' %>
        </div>
      <% end %>
    </div>
  </div>
</div>