<nav class="col-md-2 d-none d-md-block bg-light sidebar border shadow-sm">
  <div class="sidebar-sticky py-2">
    <%= link_to ' Dash board', admin_top_path, class: 'col text-left btn btn-white mb-3 py-2 border rounded shadow-sm bi bi-sliders fa-lg' %>
    <%= link_to ' 男性会員', admin_men_path, class: 'col text-left btn btn-white mb-3 py-2 border rounded shadow-sm bi bi-square fa-lg' %>
    <%= link_to ' 女性会員', admin_women_path, class: 'col text-left btn btn-white mb-3 py-2 border rounded shadow-sm bi bi-circle fa-lg' %>
    <%= link_to ' コミュニティ', admin_communities_path, class: 'col text-left btn btn-white mb-3 py-2 border rounded shadow-sm bi-people fa-lg' %>
    <%= link_to ' 自衛官申請', admin_army_requests_path, class: 'col text-left btn btn-white mb-3 py-2 border rounded shadow-sm bi bi-card-checklist fa-lg' %>
  </div>
</nav>