<% if customer_signed_in? && !current_page?(root_path) %>
  <footer class="fixed-bottom bg-white border-top" style="height: 60px;">
    <div class="container-fluid">
      <div class="col-11 col-md-6 col-lg-4 mx-auto d-flex align-items-center justify-content-center text-center" style="height: 60px;">
        <% if current_page?(men_customers_path) %>
          <%= link_to '', men_customers_path, class: 'col bi bi-square-fill fa-lg men-icon' %>
        <% else %>
          <%= link_to '', men_customers_path, class: 'col bi bi-square fa-lg men-icon' %>
        <% end %>
        <% if current_page?(women_customers_path) %>
          <%= link_to '', women_customers_path, class: 'col bi bi-circle-fill fa-lg women-icon' %>
        <% else %>
          <%= link_to '', women_customers_path, class: 'col bi bi-circle fa-lg women-icon' %>
        <% end %>
        <% if current_page?(communities_path) %>
          <%= link_to '', communities_path, class: 'col bi bi-people-fill fa-lg text-dark' %>
        <% else %>
          <%= link_to '', communities_path, class: 'col bi bi-people fa-lg text-dark' %>
        <% end %>
        <% if current_page?(followed_customers_path) %>
          <%= link_to '', followed_customers_path, class: 'col bi bi-heart-fill fa-lg text-dark' %>
        <% else %>
          <%= link_to '', followed_customers_path, class: 'col bi bi-heart fa-lg text-dark' %>
        <% end %>
        <% if current_page?(customer_path(current_customer)) %>
          <%= link_to '', customer_path(current_customer), class: "col bi bi-house-fill fa-lg text-dark" %>
        <% else %>
          <%= link_to '', customer_path(current_customer), class: "col bi bi-house fa-lg text-dark" %>
        <% end %>
      </div>
    </div>
  </footer>
<% else %>
  <footer>
    <div class="container py-3">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <%= link_to '会社概要', company_profile_path, data: { turbolinks: false }, class: 'mr-2 text-muted' %>
          <%= link_to 'プライバシー', privacy_policy_path, class: 'mr-2 text-muted' %>
          <%= link_to '利用規約', teams_of_use_path, class: 'mr-2 text-muted' %>
          <%= link_to 'お問い合わせ', new_contact_path, class: 'text-muted' %>
        </div>
        <div class="col-12 text-center"><small>&copy; Favory, Inc. Made by Mori</small></div>
      </div>
    </div>
  </footer>
<% end %>